#sider {
    background-image: url('https://fakeimg.pl/350x200');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    text-align: center;
    vertical-align: middle;
    padding: 113px;
}
